<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <title>Insert title here</title>
    <style type="text/css">
      ul {
        list-style: none;
      }
      body {
        display: flex;
        justify-content: space-around;
      }
    </style>
  </head>
  <body>
    <div class="product-list">
      <h1>商品一覧</h1>
      <p>アプリケーションスコープ</p>
      <ul>
        <li th:each="item,status:${application.itemList}">
          <form th:action="@{/ex06/in-cart}" method="post">
            <input type="hidden" name="index" th:value="${status.index}" />
            <span
              th:text="${item.name} + ' ' + ${#numbers.formatInteger(item.price, 1, 'COMMA')} + '円'"
            ></span>
            <button>カートへ</button>
          </form>
        </li>
      </ul>
    </div>

    <div class="cart-product-list">
      <h1>商品一覧</h1>
      <p>ショッピングカート</p>
      <ul>
        <li th:each="item,status:${session.cartItemList}">
          <form th:action="@{/ex06/delete}" method="post">
            <input type="hidden" name="index" th:value="${status.index}" />
            <span
              th:text="${item.name} + ' ' + ${#numbers.formatInteger(item.price, 1, 'COMMA')}"
            ></span>
            <button>削除</button>
          </form>
        </li>
      </ul>
      <p>合計（requestスコープ）</p>
      <p th:text="${#numbers.formatInteger(totalPrice, 1, 'COMMA')}"></p>
    </div>
  </body>
</html>
